<h4>List of my gadgets</h4>

<div id="gadgets_action">
	<table class="disabled table table-hovers table-condensed table-striped table-bordered">
	  <thead>
	    <tr>
	      <th>Gadget id</th>
	      <th>Gadget title</th>
	    </tr>
	  </thead>
	  <tbody>
		  <% @gadgets.each do |gadget| %>
		    <%= content_tag(:tr, class: "gadget_row", data: { gadget: gadget.id } ) do -%>
		      <td><%=gadget.id%></td>
		      <td><%=gadget.title%></td>
		    <% end -%>
		  <% end %>	  	
	  </tbody>
	</table>
</div>