<h5 class="view_mode">Cover Flow View</h5>
<table class="disabled table table-hovers table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th>Gadget title</th>
      <th>Gadget images</th>
    </tr>
  </thead>
  <tbody>
    <% @gadgets.each do |gadget| %>
      <%= content_tag(:tr, class: "gadget_row", data: { gadget: gadget.id } ) do -%>
        <td><%=gadget.title%></td>
        <td>
          <% gadget.photos.each do |image| -%>
            <%= image_tag image.photo.url(:thumb) %>
          <% end -%>
        </td>
      <% end -%>
    <% end %>
  </tbody>
</table>