= form_for(:gadget, url: search_path, method: :get, html: {id: "search"}) do |f|
  Search #{collection_select(:gadget, :gadget_id, @user_gadgets, :id, :title, prompt: "", selected: @search_gadget)}
  \#{b "", gadgets_path(clear_search: true), :remove, "default clear_search", :xs}
