<h5 class="view_mode">Cover Flow View</h5>
<table class="disabled table table-hovers table-condensed table-striped table-bordered">
  <tbody>
 
      <% @gadgets.each do |gadget| %>
      <tr class="active collection_title"><td><h4><%= editable gadget, :title %> <%= b 'Add Photos', gadget_path(gadget), :file, :default, :xs %></h4></td></tr>
      <%= content_tag(:tr, class: "gadget_row", data: { gadget: gadget.id } ) do -%>
        <td>
             <div class="ContentFlow">
                <div class="loadIndicator"><div class="indicator"></div></div>
                <div class="flow">
                  <% gadget.photos.each_with_index do |image, i| -%>
                      <%= image_tag image.photo.url(:full), class: "item", title: gadget_title(gadget,i+1) %>
                  <% end -%>
                </div>
                <div class="globalCaption"></div>
                <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
            </div>
        </td>
      <% end -%>
    <% end %>

  </tbody>
</table>