<h5 class="view_mode">List View</h5>
<table class="disabled table table-hovers table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th>Gadget id</th>
      <th>Gadget title</th>
      <th>Gadget photo</th>
    </tr>
  </thead>
  <tbody>
    <% @gadgets.each do |gadget| %>
      <%= content_tag(:tr, class: "gadget_row", data: { gadget: gadget.id } ) do -%>
        <td><%=gadget.id%></td>
        <td><%=gadget.title%></td>
        <td><%= image_tag gadget.photos.first.photo.url(:thumb) if gadget.photos.any?%></td>
      <% end -%>
    <% end %>
  </tbody>
</table>