- if @gadgets.any?
  = render partial: "gadgets_view_modes_selector"
  %h4 My Gadgets Collection
  = render partial: "gadgets_collection"
- else
  .jumbotron
    %h2 You don't have any gadgets yet.
    %p It seems like you don't have any gadgets in your collection yet. No problem! Let's create our first gadget.
    %p
      = b 'Add Gadget', new_gadget_path, :plus, :primary, :lg
= javascript_include_tag "gadgets/index"
