<% if @gadgets.any? %>
	<%= render partial: "gadgets_view_modes_selector" %>

	<h4>My Gadgets Collection</h4>
	<%= render partial: "gadgets_collection" %>

<% else %>
	<h2>You don't have any gadgets yet.</h2>
<% end %>

<hr>
<%= link_to 'Add Gadget', new_gadget_path, class: "btn btn-primary" %>