/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require editable/bootstrap-editable
 *= require contentflow
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

#error_explanation h2 {font-size: 20px; margin-top: 0;}

.admin-container {margin-top: 73px;}

#view_mode {float: right; font-size: large}

#overlay {display:none; position:fixed; height:100%; width:100%; top:0; left:0; background: rgba(200,200,200,0.4); border:1px solid #cecece; z-index:4004; opacity: 0.01; }
#loading {position: absolute; left: 0; top: 0; opacity: 0.9; z-index: 5000; width: 64px; height: 64px; background-image: url(ajax_loading.gif); background-size: 100%}
#gadgets_collection h5.view_mode {text-align: right;}
.hint {color: #999; font-weight: normal;}
.ContentFlow {background-color: black; padding-top: 50px; overflow:auto}
tr.collection_title td, tr.gadget_row td {text-align: center;}

#upload {display: table; width:100%; 
	background:#2e3134;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
#dropzone {height:200px; width:100%; text-align: center; display: table-cell; vertical-align: middle; color: #7f858a;}
#dropzone .title {font-size: 16px; text-transform: uppercase; font-weight: bold; line-height: 3em;}
#dropzone .browse {text-transform: uppercase; font-weight: bold; padding-left: 2em; padding-right: 2em}
#dropzone .upload-list {margin-top: 20px; margin-bottom: 20px; }
#dropzone .upload-list li {list-style-type: none; font-size: 16px;
	text-align: left; padding-left: 2em; height: 80px;  vertical-align: middle;
background:#323538; margin-left: 40px; margin-right: 40px; margin-top: 2px; margin-bottom: 2px;
border: 1px solid #383838;
}
#dropzone .upload-list li table {width: 100%; height: 80px;}

#dropzone .upload-list li p {text-align: left; display: inline; text-transform: uppercase; font-weight: bold; color: #eee; padding-left: 1em;}
#dropzone .upload-list li i {display: inline;color: #7f7f7f; font-weight: normal; font-style: normal; display: block; padding-left: 1em;}
.effect8
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    top:5px;
    bottom:5px;
    left:0;
    right:0;
    -moz-border-radius:50px / 5px;
    border-radius:50px / 5px;
} 
.effect8:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}
#photo {display: none;}
.icon-success {color: lime;}
table.list-view tr td, table.list-view tr th {vertical-align: middle; text-align: center;}
table.list-view tr td.title {width: 300px; text-align: left; padding-left: 1em; font-weight: bold; font-size: 18px;}
table.list-view tr td.control {width: 130px; line-height:2em; }
.count {float: left; padding-right: 1em;}
.help-block {text-align: left !important}
.cover_view h4 {color: black; background-color: #f5f5f5; border: 1px solid #ddd; margin-bottom: 0; line-height: 2.5em; padding-left: 1em}
.right {margin-left: 1em}


/* Loading Circle Preloader */
.mfp-preloader {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-top:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #2187e7;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spin .5s infinite linear;
    -webkit-animation:spin .5s infinite linear;
}


@-moz-keyframes spin {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
}
