/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#error_explanation h2 {font-size: 20px; margin-top: 0;}

.admin-container {margin-top: 73px;}

#view_mode {float: right; font-size: large}

#overlay {display:none; position:fixed; height:100%; width:100%; top:0; left:0; background: rgba(200,200,200,0.4); border:1px solid #cecece; z-index:4004; opacity: 0.01; }
#loading {position: absolute; left: 0; top: 0; opacity: 0.9; z-index: 5000; width: 64px; height: 64px; background-image: url(ajax_loading.gif); background-size: 100%}

#gadgets_collection h4.view_mode {text-align: right;}
